@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Golos+Text:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7FBFF;
}

.head {
    padding-bottom: 42px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.head__col {
    background: var(--color-white-solid, #FFFFFF);
    box-shadow: 0px 4px 6.6px 0px #00000026;
    padding-top: 11px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: space-between;

}

.head__col__text {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.main {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.main__title {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #0260E8;
    margin-bottom: 2px;

}

.main__text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    text-align: center;
    vertical-align: middle;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;


}

.main__text__span {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-align: center;
    vertical-align: middle;

}

.main__images {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #4ED2FF 100%);
}

.main__btn {
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 390px;
    width: 100%;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 0px 0px #064EB5;
    background-color: #0367FD;
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
    font-size: clamp(18px, 4vw, 32px);
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
    cursor: pointer;

}

.main__info__col {
    background-image: url(../images/blog/bouldings.png);
    padding-top: 233px;
    background-repeat: no-repeat;
}

.main__info {
    display: flex;
    gap: 10px;
    border: 1px solid #0367FD;
    max-width: 127px;
    padding: 8px 21px;
    border-radius: 33554400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    align-items: center;
}

.main__info__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.piskent__info__time {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    color: #0367FD;
}



.info {
    text-align: center;
    padding: 40px 20px;
}

.info__title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 42px;
    margin-bottom: 20px;
}

.info__col {
}

.info__main {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.info__icon {
    width: 24px;
    height: 24px;
    background: #1e63e9;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__main__title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
}

.info__main__text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
}

.info__main__text__span {
    font-weight: 700;
}

.info__btn {
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 390px;
    width: 100%;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 0px 0px #064EB5;
    background-color: #0367FD;
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
    font-size: clamp(18px, 4vw, 32px);
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.info__btn:hover {
    transform: translateY(2px);
    box-shadow: 0 3px 0 #174bb5;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.active {
    display: flex;
}

.modal__content {
    background: #fff;
    width: 90%;
    max-width: 400px;
    height: 50vh;
    border-radius: 20px;
    padding: 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
}

.modal__title {
    text-align: center;
    font-family: Bebas Neue;
    font-size: 28px;
}

#modalForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal__input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.modal__submit {
    padding: 15px;
    border-radius: 30px;
    border: none;
    background: #0367FD;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
